{% extends "base.html" %} <!--подключаем базовый шаблон-->



{% block content %} <!--Указываем начало блока кода-->
<h1>{{ page.title }}</h1> <!--Добавим вывод заголовка и обновим страницу-->
<ol>
    {% for operator in page.operators.all %} <!--В цикле перебираем всех операторов-->
        <li><a href = "mailto: {{ operator.email}}">{{ operator.name }}</a></li> <!--Перебираем
        имена каждого и почту-->

    {% endfor %} <!--Указываем конец цикла-->
</ol>
{% endblock content %} <!--Слово content после endblock мы ставим для упрощения поиска закрывающего тега-->